
.card {
  border-radius: 10px !important;
  // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2) !important;
  border: 2px solid rgba(0,0,0,.125) !important;
}
.img {
  border-radius: 10px !important;
}
.container.secondary-color{
  padding: 10px;
  border: solid gray;
  background-color: #e9ecef;
}
